# project:
build/
obj/
res/scripts/
saves/
controls.tin
settings.tin

# logs:
latest_log.txt
AS_DEBUG/

# IDE:
.vs/

# test
Turret_2_test/packages/
Turret_2_test/test_build/
Turret_2_test/test_obj/
Turret_2_test/.vs/
